.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }

  /*this stops the bootstrap table from wandering off the right side of the screen*/
.bootstrap-table{
  max-width: 80%;
}
 #date_form div{
   float:right;
}
#app {
  background: black;
}
.navbar{
  background: linear-gradient(-54deg, #a870fe 20%, #ff0000 90%);
}
#welcomePage{
  background: #f7f7f7;
}
#incomingBookingsSelect {border: none; color: #666;}

/*
#startDate, #endDate{
  width:25%;
  float:left;
}

#userDateSubmit #dateform{
  position: relative;
  float: left;
  width: 25%;
} */